VITE_CHAIN_ID=11142220
VITE_RPC_URL=https://alfajores-forno.celo-testnet.org
VITE_CONTRACT_ADDRESS=0xYourDeployedContract
DEPLOYER_PRIVATE_KEY=0xYourPrivateKey

VITE_RPC_URL=https://celo-sepolia.drpc.org
VITE_CELO_RPC_URL=https://celo-sepolia.drpc.org
VITE_CHAIN_ID=11142220

ALFAJORES_RPC_URL=https://celo-sepolia.drpc.org
CELO_RPC_URL=https://celo-sepolia.drpc.org
DEPLOYER_KEY=0x71fff75e6d6cf29dca1491cd32f00ab8b95a5e5066870eb0be75464b0f600fce
CUSD_ADDRESS=0x874069Fa1Eb16D44d622F2e0Ca25eeA172369bC1
VITE_GEMINI_API_KEY=your_gemini_api_key_here
